{% load static from static %}
<div class="row align-self-center">
    <div class="col-md-2">
        <img src="{% static 'trailer.png' %}" alt="" width="60" height="60">
    </div>
    <div class="col-md-4 justify-content-center d-flex align-items-center search_heading"> {{ object_list.count }}
        Trailers found
    </div>
    <div class=" col-md-6">
        <div class="row">
            <form action="{% url 'shop:search_trailers' %}" class="mt-2 mb-2 text-center form-inline">
                <select name="item_status" id="item_status">
                    {% if not selected_item_status %}
                        <option value="Active" selected>Active</option>
                        <option value="Inactive">Inactive</option>
                    {% elif selected_item_status == 'Active' %}
                        <option value="Active" selected>Active</option>
                        <option value="Inactive">Inactive</option>
                    {% elif selected_item_status == 'Inactive' %}
                        <option value="Active">Active</option>
                        <option value="Inactive" selected>Inactive</option>
                    {% endif %}
                </select>

                <select id=department name="department" class="mr-3">
                    {% if not selected_department %}
                        <option value="" selected> All Departments</option>
                        <option value=10>Construction (10)</option>
                        <option value=20>Maintenance (20)</option>
                        <option value=50> Admin (50)</option>

                    {% elif selected_department == '10' %}
                        <option value=""> Select Department</option>
                        <option value=10 selected>Construction (10)</option>
                        <option value=20>Maintenance (20)</option>
                        <option value=50> Admin (50)</option>

                    {% elif selected_department == '20' %}
                        <option value=""> All Departments</option>
                        <option value=10>Construction (10)</option>
                        <option value=20 selected>Maintenance (20)</option>
                        <option value=50> Admin (50)</option>

                    {% elif selected_department == '50' %}
                        <option value=""> All Departments</option>
                        <option value=10>Construction (10)</option>
                        <option value=20>Maintenance (20)</option>
                        <option value=50 selected> Admin (50)</option>
                    {% endif %}
                </select>

                {% if selected_q == "" %}
                    <input class="search w-30 ml-5" type="text" id='q' name="q"
                           placeholder="Search...">
                {% else %}
                    <input class="search w-30 ml-5" type="text" id='q' name="q"
                           value="{{ selected_q }}" placeholder="Search...">
                {% endif %}

                <button class="btn btn-secondary btn-outline-dark" type="submit">Search</button>
                <button onclick="clearOptions()"
                        class="btn btn-secondary btn-outline-dark" type="submit">Clear
                </button>
            </form>
        </div>

    </div>
</div>
<!-- End Search Section-->
