{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section class="container mt-5 border">
        <h3 class="text-center">DOT Inspection Tasks</h3>
        <table class="table table-striped table-bordered fs-5" id="service_table">
            <tr class="border border-dark text-center">
                <th>&nbsp;</th>
                <th>Dept</th>
                <th>Heritage ID</th>
                <th>Short Description</th>
                <th>Description</th>
                <th>Next DOT</th>
            </tr>
            <tbody>
            {% for item in required_dot_tasks %}
                <tr>
                    {% if item.this_type == 'vehicle' %}
                        {% if item.this_next_dot <= today %}
                            <td style="background-color: red"><a
                                    href="{% url 'shop:detail_vehicles' pk=item.pk %}"><img
                                    src="{% static 'dump-truck.png' %}" width="25" height="25" alt=""></a>
                            </td>
                        {% else %}
                            <td style="background-color: yellow">
                                <a
                                        href="{% url 'shop:detail_vehicles' pk=item.pk %}"><img
                                        src="{% static 'dump-truck.png' %}" width="25" height="25" alt=""></a>
                            </td>
                        {% endif %}

                        <td>{{ item.vehicle_department }}</td>

                    {% elif item.this_type == 'trailer' %}
                        {% if item.this_next_dot <= today %}
                            <td style="background-color: red"><a
                                    href="{% url 'shop:trailer_details' pk=item.pk %}"><img
                                    src="{% static 'trailer.png' %}" width="25" height="25" alt=""></a>
                            </td>
                        {% else %}
                            <td style="background-color: yellow">
                                <a
                                        href="{% url 'shop:trailer_details' pk=item.pk %}"><img
                                        src="{% static 'trailer.png' %}" width="25" height="25" alt=""></a>
                            </td>
                        {% endif %}
                        <td>{{ item.trailer_department }}</td>

                    {% elif item.this_type == 'equipment' %}
                        {% if item.this_next_dot <= today %}
                            <td style="background-color: red"><a
                                    href="{% url 'shop:equipment_details' pk=item.pk %}"><img
                                    src="{% static 'loader.png' %}" width="25" height="25" alt=""></a>
                            </td>
                        {% else %}
                            <td style="background-color: yellow">
                                <a
                                        href="{% url 'shop:equipment_details' pk=item.pk %}"><img
                                        src="{% static 'loader.png' %}" width="25" height="25" alt=""></a>
                            </td>
                        {% endif %}
                        <td>{{ item.equipment_department }}</td>
                    {% endif %}
                    <td>{{ item.this_identifier }}</td>
                    <td>{{ item.this_short_description }}</td>
                    <td>{{ item.this_description }}</td>
                    <td>{{ item.this_next_dot }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
                        {# Start the Pagination Section       #}
        <form action="" class="text-center">
            <nav aria-label="...">
                {% if required_dot_tasks.has_previous %}
                    <a class="btn btn-outline-success mb-4"
                       href="?page={{ num }}">First</a>
                    <a class="btn btn-outline-success mb-4"
                       href="?page={{ vehicles_page_obj.previous_page_number }}">Previous</a>
                {% endif %}

                {% for num in required_dot_tasks.paginator.page_range %}
                    {% if required_dot_tasks.number == num %}
                        <a class="btn btn-success mb-4"
                           href="?page={{ num }}">{{ num }}</a>
                    {% elif num > required_dot_tasks.number|add:'-3' and num < vehicles_page_obj.number|add:'3' %}
                        <a class="btn btn-outline-success mb-4"
                           href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}
                {% if required_dot_tasks.has_next %}
                    <a class="btn btn-outline-success mb-4"
                       href="?page={{ required_dot_tasks.next_page_number }}">Next</a>
                    <a class="btn btn-outline-success mb-4"
                       href="?page={{ required_dot_tasks.paginator.num_pages }}">Last</a>
                {% endif %}

            </nav>
        </form>
                            {# Endthe Pagination Section       #}
    </section>

    <script>
        $(document).ready(function () {

            $('#service_table tr').click(function () {
                let href = $(this).find("a").attr("href");
                if (href) {
                    window.location = href;
                }
            });

        });
    </script>
{% endblock content %}



