{% extends 'base.html' %}

{% block content %}
    <h2>Service History</h2>
    <div class="container">
        <table class="table table-striped table-bordered table-hover kr_table kr_background">
            <colgroup>
                <col class="w-15">
                <col class="w-15">
                <col class="w-70">
            </colgroup>
            <thead>
            <tr>
                <th class="text-center">Service Date</th>
                <th class="text-center">Service Miles</th>
                <th class="text-center">Service Notes</th>
                <th class="text-center">Delete</th>
                <th class="text-center">Update</th>

            </tr>
            </thead>
            <tbody>
            {% for record in object_list %}
                <tr>
                    <td class="text-center"> {{ record.service_date }} </td>
                    <td class="text-center">{{ record.service_miles }}</td>
                    <td class="text-center">{{ record.service_notes }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
        <!-- Start Vehicle Table Pagination -->
        <nav aria-label="...">
            {% if is_paginated %}
                {% if page_obj.has_previous %}
                    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                {% endif %}

            {% endif %}
        </nav>

        <!-- End Vehicle Table Pagination -->
    </div>

    <div>
        <h4><a href="{% url 'shop:vehicles_list' %}">Return to Home Page</a></h4>
    </div>

{% endblock content %}